.btn {
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 1.2rem;
  line-height: 2.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  transition: 0.3s ease-out;
  &__blue {
    background-color: rgb(52 81 125);
    border: .1rem solid rgb(52 81 125);
    color: #fff;

    &:hover {
        background-color: #fff;
        border: .1rem solid rgb(52 81 125);
        color: rgb(52 81 125);

        svg {
            path {
                fill: rgb(52 81 125);
            }
        }
    }

    svg {
      margin-left: 1rem;
    }
  }

  &__white {
  }
}
